{% extends 'template-body.html' %}

{% block page_title %}<title>Wimagic-Alert :: {{ m_user.last_name }} {{ m_user.first_name }} {{ pr_user.middle_name }}</title>{% endblock %}

{% block header %} 
<h3><i class="glyphicon glyphicon-user"></i> {{ m_user.last_name }} {{ m_user.first_name }} {{ pr_user.middle_name }}</h3>
{% endblock %}

{% block content %}
{% load humanize %}

{% if state %}
      <div class="alert alert-{{ state.state_type }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
 {{ state.state_message|safe }}
      </div>
{% endif %}


<div class="row">

<div class="col-md-4">
    <div class="well">На счету:<span class="badge pull-right">{{ money_last.money|floatformat:2 }} грн.</span> </div>
</div>

{% if days_left %}
<div class="col-md-8">
    <div class="well">Денег хватит приблизительно на {{ days_left }}.</div>
</div>
{% endif %}


<div class="col-md-4">
    <div class="well">Тариф:
{% if tarif_last %}
	<span class="badge pull-right">{{ tarif_last.money_for_mons|floatformat:2 }} грн./мес.</span></div>
{% else %}
	<span class="pull-right"><a href="/user/{{ m_user.username }}/preferences/" target="ext"><i class="glyphicon glyphicon-cog"></i> Настроить</a></span></div>
{% endif %}


    
</div>
<div class="col-md-4">
    <div class="well">Л/С:<span class="badge pull-right">{{ m_user.username }}</span></div>
</div>

{% if m_user.email %}
<div class="col-md-6">
    <div class="well">E-mail:<span class="badge pull-right">{{ m_user.email }}</span></div>
</div>
{% endif %}

{% if pr_user.vk_link %}
<div class="col-md-6">
    <div class="well">VK:<span class="badge pull-right">{{ pr_user.vk_link }}</span></div>
</div>
{% endif %}

{% if pr_user.ok_link %}
<div class="col-md-6">
    <div class="well">OK:<span class="badge pull-right">{{ pr_user.ok_link }}</span></div>
</div>
{% endif %}

<div class="col-md-6">
    <div class="well">Последняя проверка:<span class="badge pull-right">{{ money_last.created_date|naturaltime }} </span> </div>
</div>

</div>
<hr>

<div class="panel panel-default">
  <div class="panel-heading"> <h4>Лог</h4> </div>
  <table class="table">
    <tr>
        <th>Тип события</th><th>Статус</th><th>Дата создания</th>
   </tr>
   {% for log in log_list %}
   <tr>
       <td>{{ log.log_type }}</td>
       <td>
       {% if log.log_status == LOGSTATUSYES %}
       <span class="label label-success">{{ log.log_status }}</span>
       {% endif %}
       {% if log.log_status == LOGSTATUSNO %}
       <span class="label label-danger">{{ log.log_status }}</span>
       {% endif %}
       </td>
       <td>{{ log.log_date }}</td>
   </tr>{% endfor %}
  </table>
</div>

{% endblock content %}


