.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:18px;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  top: 10%;
  right: 25%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.75);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#top-nav {
  background-image: url(/static/img/bg.jpg);
  height: 100px;
}

footer {
  background-color: white;

}

#men-hr {
  padding-top:46px;
}

a.navbar-brand{
  font-size: 24pt;
  padding-top:35px;
  
}

 .navbar-inverse .navbar-brand{
  /*color: #2864E5;  Цвет ссылки при наведении на нее курсора мыши   */
 }

.navbar-inverse .navbar-brand a:hover{
  color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */  
  /*color: red;  Цвет символа */
}


 #men{
  color: #337AB7; /* Цвет ссылки при наведении на нее курсора мыши */  
 }

 .news{
margin-bottom: 10px;

 }

/*.news a{
  color:red;
  clear: both;
  }*/

/*.news span{
  float: right;
  
}*/

.news-link{
  float: right;
  margin-bottom: 20px;
}
/*
.div {
    min-width: 100%;
    min-height: 100%;
    position: relative;
}
*/