{% extends 'template-body.html' %}

{% block page_title %}<title>Wimagic-Alert :: {{ user.username }}</title>{% endblock %}
{% block header %}<h3><i class="glyphicon glyphicon-user"></i> {{ user.username }} </h3>{% endblock %}

{% block content %}
{% load humanize %}

{% if state %}
      <div class="alert alert-{{ state.state_type }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
 {{ state.state_message|safe }}
      </div>
{% endif %}


<h4 class="col-md-9"><i class="glyphicon glyphicon-chevron-right"></i> Новости сайта провайдера.</h4>
<div class="col-md-9">
{% for datec, newsc in news_commit.items %}
	<div class="row list-group-item news">
		<a href="">{{newsc}}</a>
		<span class="badge">{{datec}}</span>
	</div>
{%endfor%}
</div>

<div class="col-md-9"><a href="" class="news-link">Больше</a></div>

{% endblock content %}


