{% extends 'template-body.html' %}
{% block page_title %}<title>Wimagic-Alert :: Главная</title>{% endblock %}
{% block header %}<h3><i class="glyphicon glyphicon-chevron-right"></i> Главная</h3>{% endblock %}
{% block content %}{% load humanize %}
{% if state %}      <div class="alert alert-{{ state.state_type }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
 {{ state.state_message }}      </div>{% endif %}

<div class="col-md-9">
<p>Здравствуте! Этот сайт предназначен для автоматической проверки состояния лицевого счета на сайте <a href="http://www.wimagic.com.ua/">wimagic.com.ua</a>. Когда у вас на счету будет мало денег, Вам на почту будет приходить письмо от robot-wimagic-alert@gmail.com</p>

<p>На сайте сейчас зарегистрировано <b>{{ users_count }}</b>. В сумме у нас на счетах <b>{{ money_count }}</b>. Провайдер списывает <b>{{ tarif_count }}</b> в сутки.</p>
</div>
<div class="col-md-9"><a href="" class="news-link">Подробнее</a></div>

<!-- <div class="col-md-3">
	<a href="#"><strong><i class="glyphicon glyphicon-chevron-right"></i> Реклама</strong></a>  
</div> -->

<h4 class="col-md-9"><i class="glyphicon glyphicon-chevron-right"></i> Новости провайдера</h4>
<ul class="col-md-9">
	<li class="list-group-item news"><a href="">ПОСПІШАЙ!</a><span>31.05.2016</span></li>
	<li class="list-group-item news"><a href="">ПІДВИЩЕННЯ ВАРТОСТІ ПОСЛУГ</a><span>31.05.2016</span></li>
	<li class="list-group-item news"><a href="">ПОСПІШАЙ ПІДКЛЮЧИТИСЬ!</a><span>31.05.2016</span></li>
</ul>
<div class="col-md-9"><a href="" class="news-link">Больше</a></div>

<h4 class="col-md-9"><i class="glyphicon glyphicon-chevron-right"></i> Новости разработчика</h4>
<div class="col-md-9">
{%for commit_news in commits %}
	<div class="row list-group-item news">
		<a href="">{{commit_news.title}}</a>
		<span class="badge">{{commit_news.created_date}}</span>
	</div>
{%endfor%}
</div>

<div class="col-md-9"><a href="" class="news-link">Больше</a></div>

<!-- |naturaltime -->



{% endblock content %}


