<html>
    <head>
        <title>Привет от wimagic-alert!</title>
    </head>
    <body>
        <table>
            <tr>
                <td>
<p>Здравствуйте! {{ m_user.first_name }} {{ pr_user.middle_name }}, Вы указали свой почтовый адрес на сайте wimagic-alert. Надеюсь Вам будет приятно пользоваться услугами этого сервиса.</p>

<p>На это письмо не нужно отвечать. Но было бы хорошо, если бы Вы добавили wimagic.alert@gmail.com в свои контакты, чтобы избежать попадания писем в спам.</p>

<p>В данный момент на Вашем лицевом счете {{ money_last.money|floatformat:2 }}. Этих денег хватит на {{ days_left }}. В дальнейшем Вы будете всегда в курсе о состоянии своего счета благодаря моему сервису!</p>
                </td>
            </tr>
        </table>
    </body>
</html>